name: Build and test workflow

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}
    strategy:
      matrix:
        os:
          - ubuntu-22.04
        include:
          - os: ubuntu-22.04
            libacl: libacl1-dev
            toolchain: stable
            target: x86_64-unknown-linux-gnu
            name: Linux (Ubuntu 22.04)
          - os: macos-latest
            libacl: ""
            toolchain: stable
            target: aarch64-apple-darwin
            name: macOS (arm64)
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.toolchain }}
        target: ${{ matrix.target }}
        components: clippy
        default: true
    
    - name: Install deps (Linux only)
      if: matrix.os == 'ubuntu-22.04'
      run: sudo apt-get install -y ${{ matrix.libacl }}
    
    - name: Build ${{ matrix.target }}
      run: cargo clippy --verbose --all-features --target ${{ matrix.target }}
    
    - name: Run tests
      if: matrix.os != 'ubuntu-latest'
      run: cargo test --verbose --all-features --target ${{ matrix.target }}
